html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

#properties .group {
  padding: 10px 15px;
  position: relative;
}

#properties .group .group-header {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  font-size: 16px;
}

#properties .group + .group {
  border-top: 1px solid #eee;
}

#properties .group:last-child {
  padding-bottom: 9px;
}

#properties .group .entry {
  margin-bottom: 6px;
}

#properties .group .entry.entry-description {
  margin-top: 5px;
  color: #999;
}

#properties .action-button {
  position: absolute;
  right: 10px;
  height: 23px;
  padding: 0 0 2px;
  top: 22px;
  width: 24px;
  overflow: hidden;
  background-color: #f8f8f8;
  border: 1px solid #cccccc;

}

#properties .action-button:before {
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#properties .action-button.add:before {
  content: '+';
}

.djs-palette.two-column.open {
  width: 48px !important;
}

.bjs-container {
  position: absolute !important;
}
